<div class="vc-gridster">
  <img class="vc-gridster__img" src="images/order-statistic.svg" alt="">
  <div class="vc-gridster__info">
    <div class="vc-gridster__title">Order statistic</div>
    <div class="vc-gridster__description">
      You do not currently have access to this feature. Please <a href="#">contact your account administrator</a> for access.
    </div>
  </div>
</div>
