<!DOCTYPE html>
<html lang="en">
  <head>
    <!-------------------------------------------------------->
    <% var path = './'; %>
    <!-------------------------------------------------------->
    <% const pageMeta = { title: 'Forgot Password', description: '', url: '', }; %>
    <!-------------------------------------------------------->
    <%- include(`${path}partials/_head`, { meta: pageMeta }); %>
  </head>

  <body>
    <div class="auth" style="background-image: url('/images/bg-1.webp')">
      <div class="auth__container">
        <div class="auth__head">
          <img class="auth__logo" src="/images/logo.svg" alt="" />
          <h1 class="auth__title">Sign in to Virto Commerce Manager</h1>
        </div>

        <div class="auth__content">
          <form class="forgot-password" action="#">
            <%- 
              include(`${path}partials/_input`, { 
                error: 'error',
                type: 'text',
                label: 'Username or email', 
                placeholder: 'Enter your login or email', 
                message: 'The user with this email does not exist' 
              });
            %>

            <div class="forgot-password__buttons">
              <button class="vc-button vc-button--outlined forgot-password__button">Back</button>
              <button class="vc-button forgot-password__button" disabled>Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
