<!DOCTYPE html>
<html lang="en">
  <head>
    <!-------------------------------------------------------->
    <% const path = './'; %>
    <!-------------------------------------------------------->
    <% const pageMeta = { title: 'Login Pages', description: '', url: '', }; %>
    <!-------------------------------------------------------->
    <%- include(`${path}partials/_head`, { meta: pageMeta }); %>
  </head>
  <body style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
    <div>
      <h4>Sign In pages</h4>
      <hr />
      <ol>
        <li><a class="vc-link" href="/login-form.html" target="_blank">Login Form</a></li>
        <li><a class="vc-link" href="/login-form-error.html" target="_blank">Login Form Error</a></li>
        <li><a class="vc-link" href="/login-form-warning.html" target="_blank">Login Form Warning</a></li>
        <li><a class="vc-link" href="/login-form-and-socials.html" target="_blank">Login Form and Social buttons</a></li>
        <li><a class="vc-link" href="/login-socials.html" target="_blank">Login Social buttons</a></li>
        <li><a class="vc-link" href="/forgot-password.html" target="_blank">Forgot Password</a></li>
        <li><a class="vc-link" href="/forgot-password-error.html" target="_blank">Forgot Password Error</a></li>
        <li><a class="vc-link" href="/loader.html" target="_blank">Loader</a></li>
      </ol>
    </div>
  </body>
</html>
