.vc-gridster
  box-sizing: border-box
  display: flex
  align-items: center
  gap: 24px
  padding: 30px
  min-height: 134px
  border: 1px solid #E0E8EF
  background: #fff

  &__img
    width: 58px
    height: 58px

  &__title
    margin-bottom: 4px
    font-size: 18px
    font-weight: 600

  &__description
    font-size: 13px
    a
      font-size: inherit
